In [1]:
import pandas as pd
import numpy  as np

In [2]:
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
df

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...,...,...
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [3]:
df.index.size

5190

In [4]:
df_2 = df.copy()
del df_2['Code']
df_2.columns.size

10

In [5]:
df_3 = df.copy()
drop = df_3.dropna()
drop.index.size

4139

In [6]:
df_4 = df.copy()
df_4

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...,...,...
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [21]:
col_tw  = ['Geo_Biomass_Other_TWh', 'Hydro_Generation_TWh', 'Nuclear_Generation_TWh', 'Solar_Generation_TWh', 'Wind_Generation_TWh']
col_new = ['Geo_Biomass_Other_EJ', 'Hydro_Generation_EJ', 'Nuclear_Generation_EJ', 'Solar_Generation_EJ', 'Wind_Generation_EJ']


del_4 = df_4.drop(col_tw, axis=1)
tw_to_ej = df_4[col_tw].apply(lambda x: x/277.778)
tw_to_ej.columns = col_new

new_4 = pd.concat([del_4, tw_to_ej], axis=1)
new_4['Consumo_Total'] = new_4[['Coal_Consumption_EJ', 'Gas_Consumption_EJ', 'Oil_Consumption_EJ'] + col_new].sum(axis=1)

print(f"{new_4[(new_4['Entity'] == 'World') & (new_4['Year'] == 2019)]['Consumo_Total'].values.__float__():.2f}")

527.71

In [45]:
df_5 = df.copy()

df_5.iloc[[df['Solar_Generation_TWh'].idxmax()]]['Year'].values.__int__()

2019

In [20]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
n2 = np.array([[3,3],[4,4],[5,5]])

def IsMul(m1, m2):
    try:
        np.dot(m1,m2)
        return True

    except ValueError:
        return False

IsMul(n2, n1)

False

In [10]:
df_7 = df.copy()
countries = ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Mexico', 'Peru']

df_countries = df_7[df_7.Entity.isin(countries)]
i = df_countries.Wind_Generation_TWh.idxmax()

df_7.iloc[i]['Entity']

'Brazil'

In [46]:
df_8 = df.copy()

len(df_8['Entity'].drop_duplicates())

100

In [47]:
df_9 = df.copy()

df_filter = df_9[(df_9['Entity'] == 'Europe') & (df_9['Year'] <= 2000) & (df_9['Year'] >= 1980)]
float(df_filter.Coal_Consumption_EJ.mean().__format__('.2f'))

21.15

In [48]:
from Lista import Lista 

lis = Lista()

lis.agregarElemento(10)
lis.agregarElemento(40)
lis.agregarElemento(30)
lis.agregarElemento(20)


def MapNodes(lis):
    n = lis.getCabecera()
    c = 0

    while n: n = n.getSiguiente(); c += 1
    return c


MapNodes(lis)

4